component-starter-server/src/main/resources/generator/facet/wadl/specification.xml

<?xml version="1.0"?>
<application xmlns="http://wadl.dev.java.net/2009/02" xmlns:ns="http://component.talend.com">
  <grammars>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
               xmlns:tns="http://component.talend.com" attributeFormDefault="unqualified" elementFormDefault="unqualified"
               targetNamespace="http://component.talend.com">
      <xs:element name="component" type="tns:component"/>
      <xs:complexType name="component">
        <xs:sequence>
          <xs:element name="id" type="xs:int"/>
          <xs:element name="name" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </grammars>
  <resources base="http://localhost:8080/">
    <resource path="/component/{id}">
      <param name="id" style="template"/>
      <method name="GET">
        <response>
          <representation mediaType="application/json" element="ns:component"/>
        </response>
      </method>
    </resource>
    <resource path="/components">
      <resource path="/component/{id}">
        <param name="id" style="template"/>
        <method name="GET">
          <response>
            <representation mediaType="application/json" element="ns:component"/>
          </response>
        </method>
      </resource>
    </resource>
  </resources>
</application>
